* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.hero {
  height: 100vh;
  width: 100vw;
  background: #851111;
  background: linear-gradient(
    90deg,
    rgba(133, 17, 17, 1) 0%,
    rgba(240, 34, 34, 1) 46%,
    rgba(231, 138, 17, 1) 99%
  );
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;


}
.hero h1{
    font-size: 50px;
    font-weight: 600;
margin-bottom: 30px;
}
.hero h1 span { 
    color :#00cef1;
}
textarea{
    width: 600px;
    height: 250px;
    background: #ff8f8f;
    color: #fff;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder { 
    font-size: 16px;
    color: rgba(255, 255, 255, 0.596);

}
.row{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
border-radius: 35px;
border: none;
outline: none;
cursor: pointer;
display: flex;
align-items: center;
}
button img{
 width: 16px;
 margin-right: 10px;
    
}
select{
    flex: 1;
    color: #fff;
    background : #ff8f8f;
height:50px ;
padding: 0 20px;
outline : none;
border: none;
border-radius: 35px;
appearance: none; /*to hide select icon*/
background-image: url(dropdown.png);
background-repeat: no-repeat;
background-size: 18px;
background-position-x: calc(100% - 20px);
background-position-y: 20px;

}
